numpy==1.20.1
pandas==1.2.2
transformers==4.10.0
tokenizers==0.10.3
tqdm==4.48.2
torch==1.10.0
sentencepiece==0.1.96
matplotlib==3.6.1
sacrebleu==1.4.14
rouge-metric==1.0.1
bert-score==0.3.8
jupyter==1.0.0
#requests==2.25.1
#spacy==2.3.2
#scipy==0.13.0b1
#nltk==3.7