bert-score==0.3.8
gdown==4.5.3
jupyter==1.0.0
matplotlib==3.6.1
numpy==1.20.1
pandas==1.2.2
rouge-metric==1.0.1
sacrebleu==1.4.14
sentencepiece==0.1.96
transformers==4.10.0
tokenizers==0.10.3
tqdm==4.48.2
torch==1.10.0